@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5ff;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
